body {
  background: #1b2b34;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  padding: 30px;
  width: 100%;
  position: fixed;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post {
  width: 460px;
  background: white;
  padding: 28px 0 0;
  border-radius: 3px;
  margin-bottom: 100px;
}

.post-itself {
  font-size: 17px;
}

.user-row {
  display: flex;
  padding: 0 30px;
}

.username {
  font-weight: 500;
  margin-right: 5px;
}

.time {
  opacity: 0.7;
}

.post-itself {
  color: #5E4B4B;
  padding: 0 30px;
}

.like-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 8px;
  padding: 8px 30px 8px;
  background: rgba(223, 223, 239, 0.4);
}

.like-container button {
  width: 80px;
  height: 40px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.like-label {
  font-weight: 500;
  margin-left: 4px;
  font-size: 15px;
}

.like-container button svg {
  width: 25px;
  height: 25px;
}

.comments {
  padding: 17px 30px 17px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.comment {
  font-size: 14px;
  color: #5E4B4B;
}

.comment-username {
  font-weight: 500;
  color: black;
}